.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 655px;
  pointer-events: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 129px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 33px 88px 0 auto;
  padding: 12px 31px 12px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -50px auto 0 55px;
  padding: 12px 24px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 655px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 501px;
  height: 595px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-right: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 88px;
    margin-right: 44px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -44px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 487px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -131px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 88px;
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -44px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 456px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 173px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -129px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-image-1 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: url("/images/_e707f9e5-ed03-41f1-8678-83b1cf038dba.jpg");
  min-height: 1014px;
  background-position: 50% 50%;
}

.u-section-2 .u-shape-1 {
  width: 468px;
  left: 252px;
  right: auto;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  top: 0;
}

.u-section-2 .u-image-1 {
  width: 784px;
  height: 588px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px auto 0 calc(((100% - 1140px) / 2)  + 134px);
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 506px);
  min-height: 443px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -128px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 14px 52px 14px 51px;
}

.u-section-2 .u-shape-2 {
  width: 204px;
  height: 204px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -796px auto 592px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 836px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2)  + 22px);
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2)  + 506px);
    height: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 592px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 540px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2)  + 506px);
    margin-top: -80px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 457px;
  }

  .u-section-2 .u-shape-1 {
    left: 122px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 405px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2)  + 506px);
    margin-top: 55px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 163px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 307px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    left: 50px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 66px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 954px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 90px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 184px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 218px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-3 .u-icon-1 {
  width: 153px;
  height: 153px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 184px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  line-height: 2.2;
  margin: 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 366px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 40px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 50px auto 0 0;
  padding: 14px 31px 16px 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 366px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -28px 0 0 auto;
  padding: 4px 25px 5px 23px;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 64px auto 0 10px;
  padding: 14px 31px 16px 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 366px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 63px auto 0 10px;
  padding: 14px 31px 16px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 458px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 70px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 459px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 30px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 30px;
    margin-left: 0;
    padding: 15px 23px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 459px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 30px;
    margin-left: 0;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 449px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    padding: 15px 14px 15px 12px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 449px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 1px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 15px;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 14px 18px 16px 16px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 449px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 0.875rem;
    padding-right: 13px;
    padding-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 402px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 50px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
    padding-right: 29px;
    padding-bottom: 16px;
    padding-left: 28px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 407px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-btn-3 {
    font-size: 1.125rem;
    margin-left: 0;
    padding-right: 21px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 410px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 1.125rem;
    padding: 15px 23px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
  }
}